
  

    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
    <!-- Jumbotron -->
    <% if current_user %>
      <h1> Willkommen</h1><br>

      <p>
      VPM (Virtual Projectmanager) ist ein webbasiertes Online-Tool für kleine und mittelstänige Unternehmen. Das Werkzeug bietet umfangreiche Planungsmöglichkeiten für beliebig viele Projekte. Darunter fallen neben der Projektverwaltung auch Ressourcenmanagement, Kosteschätzung und Roadmap.</p>
      <p>
      Das Rollensystem soll außerdem auch Mitarbeitern die Überwachung und den Stand der jeweiligen Arbeitspakete ermöglichen.
      </p>
      <br>

    

    <% else %>

   <div class="jumbotron fluid">
       

<%= image_tag("shutterstock.jpg", height: '400', width: '400', :alt => "rss feed") %>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4 well">
          <h3>Über Uns</h3>
          <p>Wir sind ein junges Team aus Wirtschaftsinformatikern von der FH- Münster, die die Welt ein bisschen einfacher machen wollen.</p>
        </div>
        <div class="span4 well">
          <h3>Projektmanagement</h3>
          <p>Mit Projektmanagement können Sie ganz einfach Projekte erstellen. </p>
       </div>
        <div class="span4 well">
          <h3>Kontakt</h3>
          <p>Fachhochschule Münster<br>Johann-Krane-Weg 21-27<br>48149 Münster</p>
        </div>
      </div>

      <hr>

<% end %>
      <div class="footer-fluid">
        <p>&copy; Projektmanagement 2013</p>
      </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

