<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ressourcefunction.name %>
</p>

<%= link_to 'Edit', edit_ressourcefunction_path(@ressourcefunction) %> |
<%= link_to 'Back', ressourcefunctions_path %>
