<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title" style ="font-family: FontAwesome;font-weight: bold;">Aufgabe bearbeiten</h2>
  </div>
  <div class="panel-body">

<%= render 'form' %>

<%= link_to 'Zurück', projekts_path(:id	=>params[:projektid] ) , 'data-no-turbolink' => true%>
</div>