<h1>Vorgaenger editieren</h1><br>
<table>
	<% @vlist    = Array.new %>

	<% @arbeitspaketvorgaengers.each do |arbeitspaketvorgaenger| %>
	
	  <!-- Prüfen ob AP VOrgänger hat-->
	  <% if arbeitspaketvorgaenger.apid.to_s== @apid.to_s %>
		  <tr>
		    <td> 
		    	<% @vid=  arbeitspaketvorgaenger.apvorgaengerid %> <!-- Vorgänger ID ermittlen -->
		    	<% @vlist.push(@vid) %>
		    	<!-- Namen des AP ermittlen -->
		    	<% @v = Arbeitspaket.find(:all, :conditions => [ "id = ?", @vid]) %> 
		    	<% if @v.first != nil %>
		    		<%= @v.first.arbeitspaketname %>
		    	<% end %>
		    </td>
		    <td>
		    	<% if @v.first != nil %>
		    		<%= link_to 'Entfernen', arbeitspaketvorgaenger, method: :delete, data: { confirm: 'Are you sure?' } %>
		    	<% end %>
		    </td>
		  </tr>
	  <% end %>
	<% end %>
</table><br>
<%= render 'form' %>

<%= link_to 'Back', arbeitspaketvorgaengers_path %>
